#root{
  background-color: blue;
  width: 280px;
  height: 75px;
  border-radius: 30px;
  margin-left: 25%;
  margin-top: 10%;
}
.App{
  text-align: center;
}
.hour{
  display: inline-block;
  background-color: rgba(0, 140, 255, 0.733);
  height: 75px;
  margin-right: 10px;
  width: 40px;
  border-radius: 10px;
}
.minute{
  display: inline-block;
  background-color: rgba(0, 140, 255, 0.733);
  height: 75px;
  margin-right: 10px;
  width: 40px;
  border-radius: 10px;
}
.second{
  display: inline-block;
  background-color: rgba(0, 140, 255, 0.733);
  height: 75px;
  width: 40px;
  border-radius: 10px;
}
.image{
  float: right;
  margin-top: -6%;
  margin-right: 20%;
}
